<h3>List of schools and how many more units you need to take to complete the prerequisites</h3>
<% @schools = School.all %>

<% @schools.each do |a| %>
  <% a.priority = 0 %>
  <% a.classes.each do |key, value| %>
    <% if current_user.classes[key] %>
      <% other = current_user.classes[key] %>
    <% else %>
      <% other = 0 %>
    <% end %>
    <% difference = value - other %>
    <% if difference < 0 %>
      <% difference = 0 %>
    <% end %>
    <% a.priority += difference %>
    <% "#{key}: #{difference}" %>
  <% end %>
  <% a.save %>
<% end %>

<% @schools = @schools.sort_by(&:priority) %>
<% @schools.each do |b| %>
  <h1> <%= b.name %> </h1>
  <h5>Classes: Units</h5>
  <% b.classes.each do |key, value| %>
    <% if current_user.classes[key] %>
      <% other = current_user.classes[key] %>
    <% else %>
      <% other = 0 %>
    <% end %>
    <% difference = value - other %>
    <% if difference < 0 %>
      <% difference = 0 %>
    <% end %>
    <%= "#{key}: #{difference}" %> <br />
  <% end %>
<% end %>
